<nav class="navbar navbar-default">
    <div class="navbar-wrap">
      <div class="col-left navbar-header">
        <!-- <a class="menuIcon" (click)="showMenuIcon = !showMenuIcon">
          <i class="material-icons">menu</i>
        </a> -->
        <a class="navbar-brand"  [routerLink]="['/home']">
          <strong>
            COSTA
          </strong>
          <span>LoremEpsum</span>
        </a>

        <ul class="mainMenuWrap">
          <li class="menuItem" routerLinkActive="active">
            <a [routerLink]="['/home']">Dashboard</a>
          </li>
          <li class="menuItem hasChildMenu" routerLinkActive="active">
            <a>Cost Insights</a>
            <ul class="child-menu">
                <li routerLinkActive="active">
                    <a [routerLink]="['/provider']" routerLinkActive="active">Provider</a>
                </li>
                <li routerLinkActive="active">
                    <a  [routerLink]="['/k8-cluster']" routerLinkActive="active">K8 Cluster</a>
                </li>
                <li routerLinkActive="active">
                    <a  [routerLink]="['/custom']" routerLinkActive="active">+Custom</a>
                </li>
              </ul>
          </li>
          <li class="menuItem" routerLinkActive="active">
            <a [routerLink]="['/reports']">Reports</a>
          </li>
        </ul>
      </div>
      <div class="col-right">
        <ul class="notification-summary-wrap">
            <li style="box-sizing: border-box; padding-top:0px;  font-size: .8rem;">
                <a style="display: flex; margin-top: 15px; font-weight: bold; cursor: pointer;" [matMenuTriggerFor]="tenantMenu">
                    <span>Organization</span> 
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </a>
                  <mat-menu #tenantMenu="matMenu" class="tenantMenuOuterWrap">
                    <div class="userMenuWrap">
                      <span style="font-size: .65rem; color: #999999; cursor: default;">Switch Organization</span>
                      <p>
                        <a>Organization</a>
                      </p>
                      
                    </div>
                  </mat-menu>  

            </li>
          <li class="usericon" [matMenuTriggerFor]="menu">
            <span style="display:block; line-height: 3.2rem; font-weight: bold;">User</span>
            <mat-menu #menu="matMenu" class="userMenuOuterWrap">
              <div class="userMenuWrap">
                <p>
                  <a>User name</a>
                </p>
                
                <p>
                  <a>Logout</a>
                </p>
              </div>
            </mat-menu>
          </li>

          <li class="notification">
            <span style="display:block; line-height: 3rem; font-weight: bold;">&nbsp;</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<!-- <a routerLink="/" routerLinkActive="active">Dashboard</a>&nbsp;|&nbsp;
<a routerLink="/k8-cluster" routerLinkActive="active">Costs Insights</a>&nbsp;|&nbsp;
<a routerLink="/provider" routerLinkActive="active">Provider</a>&nbsp;|&nbsp;
<a routerLink="/reports" routerLinkActive="active">Reports</a> -->