<nav class="navbar navbar-default">
    <div class="navbar-wrap">
      <div class="col-left navbar-header">
        <a class="app-switcher-icon" [matMenuTriggerFor]="appMenu">
          <svg id="AppSwitcher_icon" data-name="AppSwitcher icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <rect id="Rectangle_1005" data-name="Rectangle 1005" width="32" height="32" fill="none"/>
            <rect id="Rectangle_1219" data-name="Rectangle 1219" width="4" height="4" transform="translate(8 8)" fill="#414141"/>
            <rect id="Rectangle_3040" data-name="Rectangle 3040" width="4" height="4" transform="translate(8 14)" fill="#414141"/>
            <rect id="Rectangle_3043" data-name="Rectangle 3043" width="4" height="4" transform="translate(8 20)" fill="#414141"/>
            <rect id="Rectangle_3036" data-name="Rectangle 3036" width="4" height="4" transform="translate(14 8)" fill="#414141"/>
            <rect id="Rectangle_3039" data-name="Rectangle 3039" width="4" height="4" transform="translate(14 14)" fill="#414141"/>
            <rect id="Rectangle_3042" data-name="Rectangle 3042" width="4" height="4" transform="translate(14 20)" fill="#414141"/>
            <rect id="Rectangle_3037" data-name="Rectangle 3037" width="4" height="4" transform="translate(20 8)" fill="#414141"/>
            <rect id="Rectangle_3038" data-name="Rectangle 3038" width="4" height="4" transform="translate(20 14)" fill="#414141"/>
            <rect id="Rectangle_3041" data-name="Rectangle 3041" width="4" height="4" transform="translate(20 20)" fill="#414141"/>
          </svg>          
        </a>
        <mat-menu #appMenu="matMenu" class="applicationsMenu">
          <div class="appMenuWrap">
            <h6>Apps</h6>
            <ul>
              <li>
                <a class="active">KubeCost</a>
              </li>
              <li>
                <a href="#" target="_blank">AIOps</a>
              </li>
            </ul>
          </div>
        </mat-menu>
        <a class="navbar-brand"  [routerLink]="['/home']">
          <strong>
            KubeCost Analytics
            </strong>
        </a>
        
        <ul class="mainMenuWrap">
          <li class="menuItem" routerLinkActive="active">
            <a [routerLink]="['/home']">Dashboard</a>
          </li>
          <li class="menuItem hasChildMenu" routerLinkActive="active">
            <a>Cost Insights</a>
            <ul class="child-menu">
                <li routerLinkActive="active">
                    <a [routerLink]="['/provider']" routerLinkActive="active">Provider</a>
                </li>
                <li routerLinkActive="active">
                    <a  [routerLink]="['/k8-cluster']" routerLinkActive="active">K8 Cluster</a>
                </li>
                <li routerLinkActive="active">
                    <a  [routerLink]="['/custom']" routerLinkActive="active">+Custom</a>
                </li>
              </ul>
          </li>
          <li class="menuItem" routerLinkActive="active">
            <a [routerLink]="['/budget']">Budget</a>
          </li>
          <li class="menuItem" routerLinkActive="active">
            <a [routerLink]="['/reports']">Reports</a>
          </li>
          <li class="menuItem" routerLinkActive="active">
            <a [routerLink]="['/optimize']">Optimize</a>
          </li>
        </ul>
      </div>
      <div class="col-right">
        <ul class="notification-summary-wrap">
            <li style="box-sizing: border-box; padding-top:0px;  font-size: .8rem;">
                <a style="display: flex; margin-top: 15px; font-weight: bold; cursor: pointer;" [matMenuTriggerFor]="tenantMenu">
                    <span>Organization</span> 
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </a>
                  <mat-menu #tenantMenu="matMenu" class="tenantMenuOuterWrap">
                    <div class="userMenuWrap">
                      <span style="font-size: .65rem; color: #999999; cursor: default;">Switch Organization</span>
                      <p>
                        <a>Organization</a>
                      </p>
                      
                    </div>
                  </mat-menu>  

            </li>
          <li class="usericon" [matMenuTriggerFor]="menu">
            <span style="display:block; line-height: 3.2rem; font-weight: bold;">User</span>
            <mat-menu #menu="matMenu" class="userMenuOuterWrap">
              <div class="userMenuWrap">
                <p>
                  <a>User name</a>
                </p>
                
                <p>
                  <a>Logout</a>
                </p>
              </div>
            </mat-menu>
          </li>

          <li class="notification">
            <span style="display:block; line-height: 3rem; font-weight: bold;">&nbsp;</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<!-- <a routerLink="/" routerLinkActive="active">Dashboard</a>&nbsp;|&nbsp;
<a routerLink="/k8-cluster" routerLinkActive="active">Costs Insights</a>&nbsp;|&nbsp;
<a routerLink="/provider" routerLinkActive="active">Provider</a>&nbsp;|&nbsp;
<a routerLink="/reports" routerLinkActive="active">Reports</a> -->