<div class="db-widget">
    <div class="card-header">
        <div class="col-left" style="width: 100%;">
            <h5 class="title">K8s Resource Efficiency</h5>   
            <span class="date-range">(Month to Date)</span>                     
        </div>
    </div>
    <div class="card-content">
        <div id="chartwrap" class="mat-elevation-z0">
            <div *ngIf="chartData" style="position: relative; height:250px; width:100%">
                <canvas baseChart 
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [plugins]="chartPlugins"
                    [legend]="chartLegend"
                    [colors]="chartColors"
                    [chartType]="chartType">
                </canvas>
            </div>
          </div>
    </div>
    <div class="card-footer">
        <a class="link" (click)="navigate('optimize')">More Savings</a>
    </div>
    <mat-spinner diameter='50' *ngIf="showLoading" class="loadingGif"></mat-spinner>
</div>