<h2 class="title">Cost Insights <span class="part">/ Provider (3)</span></h2>

<!-- <span style="position: absolute; top: 110px; left: 50px; font-family: 'Courier New', Courier, monospace; background-color: antiquewhite;">
  {{filterPayload | json}}
</span> -->

<!-- Top Filter markup starts here-->
<div id="common-filter-wrap">
    <div class="filter-input">
      <!-- floatLabel='never' -->
        <mat-form-field class="globalFilter">
            <mat-chip-list #chipList aria-label="Filter selection">
              <mat-chip
                *ngFor="let filter of currentFilters"
                [selectable]="selectable"
                [removable]="removable"
                (change)="filterChange($event)"
                (removed)="remove(filter)">
                {{filter}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <span>{{curKey}}</span>
              <input
                placeholder="Filter"
                #filterInput
                #automcompleteTrigger="matAutocompleteTrigger"
                [formControl]="filterCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete"  [disableRipple]="true" (optionSelected)="selected($event)">
              <mat-option *ngFor="let filter of filteredFilter | async" [value]="currentFilters">
                {{filter}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div class="calendar">
        <input id="calendarinput" placeholder="Select date" type="text" matInput ngxDaterangepickerMd
        [locale]="{applyLabel: 'Apply',clearLabel: 'Cancel', format: 'DD/MM/YYYY', separator: ' to '}"
        startKey="start"
        endKey="end"
        [showCustomRangeLabel]="true"
        [alwaysShowCalendars]="true"
        [(ngModel)]="selectedDate"
        [ranges]="ranges"
        [showCancel]="true"
        [showRangeLabelOnInput]="true"
        name="daterange"
        (change)="onDateRangeChanged($event)"/>
    </div>
</div>

<!-- Top Filter markup ends here-->

<!-- Smart insights widget starts here -->
<div id="smart-insights" class="mat-elevation-z0">
  <ul class="siwidgetwrap">
    <!-- <li *ngFor="let item of snapShots">
      <ng-container *ngComponentOutlet="item.component;"></ng-container>
    </li> -->
    <ng-container *ngFor="let item of snapShots">
      <li [ngSwitch]="item.viewType">
        <!-- trend template -->
        <div class="si-wrap" *ngSwitchCase="'trend'">
          <h6>{{item.values.title}}</h6>
          <ul>
            <li class="left">
              <strong>${{item.values.cost | number}}</strong>
            </li>
            <li class="right">
              <span class="trend" [ngClass]="(item.values.deltaCost>0)?'down':'up'">{{item.values.deltaCost | percent}}</span>
              <label>{{item.values.comment}}</label>
            </li>
          </ul>
        </div>
        <!-- comparison template -->
        <div class="si-wrap" *ngSwitchCase="'comparison'">
          <ul>
            <li class="left">
              <h6>{{item.values.parties[0].title}}</h6>
              <strong>${{item.values.parties[0].cost | number}}</strong>
            </li>
            <li
              style="width: 48px; display: flex; align-items: center; color: #4E7599;"
            >
              vs
            </li>
            <li class="right">
              <h6>{{item.values.parties[1].title}}</h6>
              <strong>${{item.values.parties[1].cost | number}}</strong>
            </li>
          </ul>
        </div>
      </li>
    </ng-container>
    
  </ul>
</div>
<!-- Smart insights widget ends here -->

<!-- Grouping and charts starts here -->
<div id="groupbywrap" class="mat-elevation-z0">
  <div class="col-a">
    <ul *ngIf="groupTabs">
      <li (click)="onTabSelected(item)"
        *ngFor="let item of groupTabs.priority1; let i = index"
        [ngClass]="{active: item.key == selectedGroupTab}">
        <h6>{{ item.title }}</h6>
        <p>{{ item.count }}</p>
      </li>

      <a class="moreGroup" *ngIf="groupTabs.priority2.length>0" [matMenuTriggerFor]="MoreMenu">
        <h6>More</h6> 
        <mat-icon>keyboard_arrow_down</mat-icon>
      </a>
      <mat-menu id="more-menu-panel" #MoreMenu="matMenu">
        <ul class="secMenuOuterWrap">
          <li *ngFor="let item of groupTabs.priority2">
            <span (click)="onSecondaryTabSelected(item)">{{item.title}}</span>
          </li>
        </ul>
      </mat-menu>
    </ul>
  </div>
  <div class="col-b">
    <div class="chart-actions-wrap">
      <div>
        <select id="chart-data-filter" (change)="onGranularityChanged($event)">
          <option value="hourly">Hourly</option>
          <option value="daily">Daily</option>
          <option value="monthly">Monthly</option>
          <option value="yearly">Yearly</option>
        </select>
      </div>

      <div class="chartTypeWrap">
        <span (click)="loadChart('bar',true)" class="ctype stacked-bar chartActive"></span>
      </div>
      <div>
        <span (click)="loadChart('bar',false)" class="ctype bar-chart"></span>
      </div>
      <div>
        <span (click)="loadChart('line',false)" class="ctype line-chart"></span>
      </div>
    </div>
  </div>
</div>
<!-- Grouping and charts ends here -->

<!-- chart wrap starts here -->
<div id="chartwrap" class="mat-elevation-z0">
  <div *ngIf="barChartData" style="position: relative; height:350px; width:100%">
      <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [colors]="barChartColors"
          [chartType]="chartType">
      </canvas>
  </div>
</div>
<!-- chart wrap starts here -->
<!--grid actions starts-->
<div id="grid-actions-wrap">
  <ul class="grid-actions">
    <li><a class="icon download"></a></li>
    <li><a class="icon fit2screen"></a></li>
    <li><a class="icon customadd"></a></li>
  </ul>
</div>
<!--grid actions ends-->
<!-- Data grid starts here -->
<div id="gridwrap">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">
    <ng-container matColumnDef="{{col.key}}" *ngFor="let col of columns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.title}}</th>
      <ng-container [ngSwitch]="col.key">
        <ng-container *ngSwitchCase="'clusterId'">
          <td mat-cell *matCellDef="let element">
            <a class="strong link">{{ element.clusterId }}</a>
          </td>
        </ng-container>
        <ng-container *ngSwitchCase="'possibleSavings'">
          <td mat-cell *matCellDef="let element" width="160px">
            <a class="strong link">${{ element.possibleSavings }}</a>
            <span class="trend up">{{ element.trend }}%</span>
          </td>
        </ng-container>
        <ng-container *ngSwitchDefault >
          <td mat-cell *matCellDef="let element">${{ element[col.key] }}</td>
        </ng-container>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<!-- Data grid ends here -->
<mat-spinner diameter='50' *ngIf="showLoading" class="loadingGif"></mat-spinner>