<div class="db-widget">
    <div class="card-header" style="padding-bottom: 5px;">
        <div class="col-left" style="width: 100%;">
            <h5 class="title">K8s Cluster Efficiency</h5>
            <span class="date-range">(Month to Date)</span>
        </div>
    </div>
    <div class="card-content">
        <div class="chart-grid-table" style="height: 250px; overflow-y: auto;">
            <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
    
                <ng-container matColumnDef="efficiency" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Efficiency </th>
                    <td mat-cell *matCellDef="let element"> {{element.efficiency}}% 
                        <mat-progress-bar class="progress" mode="determinate" value="{{element.efficiency}}"></mat-progress-bar>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>        
    </div>
    <div class="card-footer">
        <a class="link" (click)="navigate('optimize')">View Clusters</a>
    </div>
    <mat-spinner diameter='50' *ngIf="showLoading" class="loadingGif"></mat-spinner>
</div>