/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-color: #F2F4F6; color:#414141;}
*::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
ul::-webkit-scrollbar-track
div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
  }
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a.link{color:#146BD2; cursor: pointer;}
.strong{font-weight: bolder;}
body,h1,h2,h3,h4,h5,h6,p,label,span,g,strong,th,td,tspan{font-family: 'Open Sans', sans-serif;}
h6{margin: 0; padding: 0; font-size: 12px; color: #414141;}
h5{margin: 0; padding: 0; font-size: 16px; color: #414141;}
h2.title{font-size: 22px; font-weight:bolder; background: url("./assets/icons/polygon.svg") no-repeat left; padding: 10px 0 10px 40px;}
h2.title .part{font-size: 22px; font-weight:normal;}
h3.title{font-size: 16px; font-weight:normal; margin: 0; padding: 0;}

header{padding: 0 10px; background: #ffffff; box-shadow: 0px 0px 6px #aaa;position: relative; font-size: 0.9rem;}

header .usericon{
    background: url("./assets/icons/user.svg") no-repeat center left;padding-left: 32px !important;
    font-size: 0.8rem;
    cursor: pointer;
}
header .notification{
    background: url("./assets/icons/notification.svg") no-repeat center left;padding-left: 32px !important;
    font-size: 0.8rem;
    cursor: pointer;
}
.app-switcher-icon svg{margin-top: 9px;}
/*calendar style*/
.md-drppicker .calendar{
    width: 322px !important;
    max-width: 322px !important;
}

div.md-drppicker{
    font-family: 'Open Sans', sans-serif !important;
}
.md-drppicker .ranges ul li button.active {
    background-color:#414141 !important;
    color: #fff;
}
.md-drppicker td.active, .md-drppicker td.active:hover {
    background-color:#414141 !important;
    border-color: transparent;
    color: #fff;
    border-radius: 0 !important;
}
.md-drppicker td.available, .md-drppicker td.available:hover {

    border-radius: 0 !important;
}
.md-drppicker td.start-date {
    border-radius: 0 !important;
}
.md-drppicker table {
    border-spacing: 0 !important;
}
.md-drppicker td.in-range.available{
    background-color: #d5eaf3;
}
.md-drppicker td{
    padding:4px !important;
}
.md-drppicker.double {
    width: 775px !important;
}
.md-drppicker.show-ranges{
    top: 50px !important;
    left: -525px !important;
}
.md-drppicker .buttons{clear: both;}
.md-drppicker .btn.btn-default > svg{display: none;}
.md-drppicker td.active.off{background-color: transparent !important;}
/*calendar style ends*/
.navbar-brand{display: flex;}
.navbar-brand span{font-weight: bold;border-left: 1px solid #eee; padding-left: 16px; font-size: 0.9rem; letter-spacing: .28px; line-height: 52px;}
.navbar-brand strong{width: 88px; display: inline-block; overflow: hidden; }
.navbar{box-sizing: border-box; padding: 0 15px ;}
.navbar-wrap {display:flex; max-width: 100%;}
.navbar-wrap .col-left{width:70%;height: 50px;box-sizing: border-box; display: flex;}
.navbar-wrap .col-right{width:30%;height: 50px;box-sizing: border-box;}
.navbar-brand {font-size: 1.2rem; padding-right: 60px; margin-right: 0; line-height: 50px; text-decoration: none;  color: #222222;}
.nav-item{font-size: 1rem; text-decoration: none; line-height: 50px; padding: 0 15px; border-top: 2px solid transparent; font-weight: normal; color: #222222;}
.nav-item.active{border-top: 2px solid #cb2027;}
.notification-summary-wrap{display: flex; float: right; margin: 0; padding: 0; list-style: none;}
.notification-summary-wrap li{height: 50px; padding: 0 10px;}
.mainMenuWrap{display: flex; flex-direction: row; list-style: none; margin: 0; padding: 0;}
.mainMenuWrap > li.menuItem > a{color:#111111 !important; font-weight: bold;}
.mainMenuWrap > li.menuItem{position: relative;border-top: 2px solid transparent; margin-right: 10px;}
.mainMenuWrap > li.menuItem > a{padding: 14px 12px 0; height: 100%; box-sizing: border-box; display: flex;text-decoration: none;} 
.mainMenuWrap > li.menuItem > a > label{display: inline-block; width: 22px;}
.mainMenuWrap > li.menuItem.active{border-top:2px solid #cb2027 !important;}
.mainMenuWrap > li.menuItem:hover{border-top-color: #fad1d1; cursor: pointer;}
.child-menu{margin: 0; padding: 0; list-style: none; display: none; background: #ffffff; border:1px solid #d3d3d3; border-radius: 2px; position: absolute; z-index: 21; width: 190px;}
.child-menu > li > a {color:#111111 !important;position: relative;display: block; padding:8px 10px 8px 16px; cursor: pointer;  text-decoration: none; border-bottom: 1px solid #d3d3d3;}
.hasChildMenu:hover > .child-menu{display: block;}
.child-menu > li.active > a{color:#cb2027 !important;}
.mainMenuWrap>li.menuItem.active {
    border-top: 2px solid #cb2027!important;
}
.mainMenuWrap a:hover{color:#128b8d !important;}
li.menuItem.hasChildMenu > a span:after {content:'\005e'; font-size: 1em; font-weight: bold; font-family: "verdana";  display: inline-block; margin-left: 5px;};
.child-menu > li.active > a::before{
  content: "\2022";
  font-size: 2em;
  color: #cb2027;
  position: absolute;
  left: 5px;
  top: 0%;
}


.db-widget .card-header{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}
.db-widget .card-header .col-left{
    width: 50%;
}
.db-widget .card-header .costValue{
    font-weight: normal;
    font-size: 22px;
}
.db-widget .card-header .col-right{
    width: 50%;
     text-align: right;
}
.db-widget select{
    padding: 5px;
    border: 1px solid transparent;
    font-size: 16px;
}
.db-widget .card-header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.db-widget .card-header ul li{margin: 0; padding: 0;}
.db-widget .card-header ul li strong{
    font-weight: normal;
    font-size: 22px;
}

.db-widget .card-content{
    min-height: 60%;
}

.db-widget .card-footer{
    text-align: right;
    position: absolute;
    bottom: 15px;
    height: 20px;
    width: calc(100% - 40px);
}
.db-widget .card-footer a.link{
    font-size: 12px;
    font-weight: bold;
}
.db-widget .date-range{
    color: #999999;
    font-size: 12px;
}
.db-widget span.trend{
    display: inline-block;    
    font-weight: bold;
}
.db-widget span.trend.up{
    color: #63A621;
    background: url("assets/icons/arrowDown.svg") no-repeat;
    padding-left: 20px;
}
.db-widget span.trend.down{
    color: #C62828;
    background: url("assets/icons/arrowUp.svg") no-repeat;
    padding-left: 20px;
    font-size: 14px;
}
.db-widget label{
    display: inline-block;
    font-size: 10px;
    margin-left: 5px;
}
.db-widget .card-content p > span{font-size: 11px;}
#insights-list{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: 270px;
}
#insights-list li{
    padding: 5px;
    margin: 0;
    font-size: 14px;
    background-color: #F9F9F9;
    margin: 5px 0;
}

footer{height: 40px; padding: 0 20px; background-color: #ffffff; box-shadow: 0px -3px 5px #cccccc;line-height: 3rem; font-size: 0.8rem;}
.main{min-height: calc(100% - 110px);  margin: 0; padding: 0 20px;}

footer .footer-content {
    line-height: 2;
    height: 40px;
    box-sizing: border-box;
    color: #313131;
    display: flex;
}
footer .footer-content>label {
    width: 50%;
    padding: 5px 10px 0;
    box-sizing: border-box;
}
 /* To remove the underline ripple */
 #common-filter-wrap .mat-form-field-underline {
    background-color: transparent !important;
    display: none !important;
}
#common-filter-wrap .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0px !important;
}

.mat-sort-header-container {
    font-size: 14px;
    font-weight: bold;
    color: #414141;
}
.mat-menu-panel{font-size: 12px;}
.filter-input .mat-chip-list-wrapper{
    background:#E6EDF4 url("assets/icons/filters.svg") no-repeat left;
    height: 40px;
    padding-left: 30px;
}
.mat-spinner.loadingGif{width: 100px; height: 100px; position: fixed; top: 40%; left: 45%;  z-index: 99;transform: translate(-50%,-50%);}
.mat-progress-spinner.loadingGif circle, .mat-spinner.loadingGif circle {stroke: #d30303;}

.filter-input .mat-form-field-appearance-legacy .mat-form-field-label{
    padding-left: 30px;
    padding-top: 8px;
}
.filter-input .mat-form-field-appearance-legacy .mat-form-field-label.filterhasvalue{
    transform: translateY(-1.4em) scale(.75) perspective(100px) translateZ(.001px) !important; 
}
.filter-input .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label.filterhasvalue,
.filter-input .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.4em) scale(.75) perspective(100px) translateZ(.001px);
    width: 133.33333%;
}
.filter-input .mat-form-field-appearance-legacy .mat-form-field-infix{
    margin-top: -16px;
}

.buttons_input .btn {
    box-shadow: none !important;
    background-color: transparent !important;
    color: #444 !important;
    padding:5px 15px !important;
}
.md-drppicker .buttons{
    box-shadow: 0px -2px 2px rgb(219, 219, 219);
    margin-right: 0 !important;
}
.md-drppicker.shown{
    padding:0 !important;
}

/* Dashboard page */
.db-widgets-wrap{margin: 0; padding: 0 0 20px 0; list-style: none; display: flex; flex-direction: row; flex-wrap: wrap;}
.db-widgets-wrap .w50{
    width: 50%;
    min-height: 300px;
    box-sizing: border-box;
}
.db-widgets-wrap .w25{
    width: 25%;
    min-height: 300px;
    box-sizing: border-box;
}
.db-widgets-wrap li{padding:7px;}

.db-widgets-wrap .db-widget{
    background-color: #ffffff;
    height: 100%;
    box-sizing: border-box;
    padding: 17px 15px 35px 15px;
    position: relative;
}
.mat-sort-header-arrow {
    opacity: 0.6!important;
  }
  .coming-soon{
    border-top: 1px solid rgb(223, 223, 223);border-bottom: 1px solid rgb(223, 223, 223);
    color: #777777;
    background: url("assets/icons/code.svg") no-repeat center left;
    padding-left: 26px;
  }

.mat-snack-bar-container.success{background: #21a300; color: #ffffff;}
.mat-snack-bar-container.error{background: #ce0000; color: #ffffff;}
.mat-snack-bar-container.warning{background: #f7bd00; color: #ffffff;}
.mat-snack-bar-container{
    top: 0;
    position: absolute;
    left: 37%;
}
.mat-menu-panel{
    min-height: auto !important;
}
.applicationsMenu{
    width: 300px !important;
    min-height: 400px !important;
    margin-left: -23px;
    margin-top: 6px;
    border-radius: 0 !important;
}
.appMenuWrap{
    padding: 10px;
}
.appMenuWrap h6{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom:1px solid #E6EDF4;
}
.appMenuWrap ul{
    list-style: none;
    margin: 0;
    padding: 10px 0 0 10px;
}
.appMenuWrap ul li a{
    display: block;
    padding:7px 10px;
    cursor: pointer;
    color: #414141;
    text-decoration: none;
}
.appMenuWrap ul li a:hover{
    background-color: #F2F4F6;
}
.appMenuWrap ul li a.active{
    background-color: #414141;
    color:#fff;
}

.db-widget .card-content{position: relative;}
.treemapback {
    position: absolute;
    top: 1px;
    right: 17px;
    z-index: 5;
    cursor: pointer;
    font-size: 12px;
    color: rgb(0, 45, 245);
    background: #fff;
    display: inline-block;
    padding: 3px 8px;
    
}
.customToolTip{
    border:1px solid rgb(255, 166, 0);
    background-color: #ffffff;
    padding: 12px;
    font-size: 12px;
    line-height: 1.7;
}
.chart-grid-table .mat-sort-header-container{float: right !important;}


app-cost-variations .col-right .mat-sort-header-container {
    float: right !important;
    text-align: right;
  }